*, *::after, *::before {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
main {
    background: linear-gradient( rgba(200, 200, 200, 0.6), rgba(200, 200, 200, 0.6)), url("../images/Sony HVR-Z7P video camera.jpg") no-repeat center;
    background-size: cover;
    // background: url("../images/Sony HVR-Z7P video camera.jpg");
}
footer {
    background: #141E30;
}